body {
  background-color: lightgray;
  font-family: "Raleway";
}

.conteiner {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 5%;
  overflow: hidden;
}

.profile-pic {
  width: 20%;
  height: 20%;
  display: block;
  margin: auto;
  margin-top: 30px;
  border-radius: 150px;
  border: 10px solid #060060;
  box-shadow: 10px 5px 10px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 2%;
}

#introduction {
  text-align: center;
  font-size: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  text-align: center;
  font-size: 350%;
  margin: auto;
  background: fixed;
  background-color: white;
  font-weight: bold;
}

.divider {
  background: linear-gradient(90deg, #d3d4e3 0%, #54609c 50%, #d3d4e3 100%);
  height: 3px;
  width: 100%;
}


/* EDUCACION, EXPERIENCIA Y HABILIDADES */

.list {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 130%;
}

.boxes {
  border: 2px solid darkblue;
  border-radius: 5px;
  background-color: white;
  padding: 1em;
  color: black;
}

.roles {
  background-color: darkblue;
  background-size: auto;
  padding: 10px;
  color: white;
}

h2 {
  text-align: center;
  background-color: white;
  color: black;
}

.habsection img {
  width: 20%;
  height: auto;
  filter: brightness(1.1);
  mix-blend-mode: multiply;
  float: left;
  display: block;
  padding-left: 30px;
}

table {

  height: auto;
  width: 20%;
  border-collapse: separate;
  border-spacing: 10px;
}

td {
  text-align: center;
  background: #f7f5f5;
  font-weight: bold;
  padding: 20px;
  margin-left: 100px;
  border-right: 8px solid #0d00ff;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

/* FORMULARIO CONTACTO */

.contact_form {
  width: 400px;
  height: auto;
  margin: 50px auto;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fbfbfb;
  padding-left: 30px;
  align-content: center;
}

input {
  background-color: #fbfbfb;
  width: 350px;
  height: 30px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #1100ff;
  margin-top: 5px;
  padding-left: 10px;
  margin-bottom: 5px;
}

textarea {
  background-color: #fbfbfb;
  width: 350px;
  height: 70px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #1100ff;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
  background-color: #0000ff;
  border-color: #0000ff;
  border-style: solid;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}

button p {
  color: #fff;
}

span {
  color: #2200ff;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

h3 {
  font-size: 20px;
  text-align: letf;
  color: #1500ff;
}

h4 {
  font-size: 12px;
  padding-bottom: 5px;
  color: #0e0e0e;
}

p {
  font-size: 14px;
  color: #0e0e0e;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #000000;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #000000;
}

/* FOOTER */

footer {
  background-color: gray;
  color: #fff;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.social-icons img {
  width: 50px;
  height: 50px;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.social-icons a:hover img {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .conteiner {
    width: 100%;
  }

  h1 {
    font-size: 200%;
  }

  h2 {
    font-size: 150%;
  }

  .table {
    font-size: 80%;
    display: grid auto;
  }
}

/* NAVEGADOR */

nav {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: gray;
  position: fixed;
  top: 0;
  width: 100%;
}

#navegador ul {
  list-style-type: none;
  text-align: right;
}

#navegador li {
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}

#navegador li a {
  text-align: center;
  align-items: center;
  padding: 2px 7px 2px 7px ;
  border: 1px solid #2e518b;
  background-color: #2e518b;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 50px;
  box-shadow: 3px 3px darkblue;
}

#navegador li a:hover {
  color: #ffffff;
  background-color: lightblue;
  color: black;
  transition: all 300ms;
}